.Apps {
    text-align: center;
}

.Apps-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.Apps-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.Apps-intro {
    font-size: large;
}

@keyframes Apps-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}